body {
    background-color:cadetblue;
    background-image: url("./Assets/Images/graybackground.jpg");
    background-repeat: repeat;

}

.aboutMe {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}

.centeralign {
    font-family: 'Times New Roman', Times, serif;
}

#welcomeportfolio {
    font-size: 15px;
    color: white;
    text-align: left;
}

/* p {
    white-space: no wrap;
    overflow: hidden;
    max-width: 100 px;
    text-overflow: ellipsis;
} */

.mb-3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.contactinfo {
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
