body {
    background-image: url("./Assets/Images/graybackgroundcut.jpg");
    background-repeat: repeat;
}

.navbar-brand {
    margin-left: 2%;
}

.aboutpicture {
    border-radius: 4px;
    padding: 5px;
    float: left;
    height: 400px;
    width: 25.00%;
    padding: 5px;
}
    
.aboutpicture1 {
    background-image: url("./Assets/Images/6.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 195px;
}

.aboutpicture2 {
    background-image: url("./Assets/Images/8.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.aboutpicture3 {
    background-image: url("./Assets/Images/5.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.aboutMe {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

#welcomeportfolio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 574px;
    border: 8px solid white;
    margin: 20px;
    margin-left: 600px;
    justify-content: space-evenly;    
}

.row {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 2%;
}

#project1 {
    background-image: url("./Assets/Images/HHH.png");
}

#project2 {
    background-image: url("./Assets/Images/HomeGrown.png");
}

#workdayscheduler {
    background-image: url("./Assets/Images/WDS.png");
}

#notetaker {
    background-image: url("./Assets/Images/notetaker.png");
}

.thumbnail {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border-radius: 4px;
    padding: 5px;
    height: 400px;
    width: 500px;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-top: 10%;
    justify-content: space-evenly;
}

.contactform {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
}

.button {
    text-align: center;
    margin-top: 2%;
}

.contactinfo {
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-top: 2%;
}

.icons {
   text-align: center;
}


