body {
    background-color:cadetblue;

}

.mainImages {
    width: 200px;
    height: 200px;
}

.centerMe {
    display: flex;
    justify-content: center;

}

.aboutMe {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    justify-content: center;
    
}



